PORT=8090
UI_ORIGIN=http://localhost:8080

DB_HOST=chat-app-mongo
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=chat-app

AMQP_HOST=chat-app-rabbitmq
AMQP_PORT=5672
AMQP_UI_PORT=15672


NODE_ENV=dev
LOG_LEVEL=debug
ENCRYPTION_KEY=chat-app-encryption-key
SSL=false
API_VERSION=v1
SESSION_SECRET=chat-app-session-secret
ACCESS_TOKEN_SECRET=chat-app-access-token-secret
REFRESH_TOKEN_SECRET=chat-app-refresh-token-secret
ACCESS_TOKEN_EXP_IN=9000000 # 15min

UI_ENV_REST_API_BASE_URL=http://localhost:8090
UI_ENV_REST_API_ROOT_PATH=api
UI_ENV_REST_API_VERSION=v1
UI_ENV_SERVE_PORT=8080
