# cexpress-utils ----------------------
NODE_ENV=prod
LOG_LEVEL=prod # optional, default: prod
ENCRYPTION_KEY=chat-app-encryption-secret
# -------------------------------------

SSL=false # optional, default: true, never set to true for local development. only for production and using SSL

PORT=8090
UI_ORIGIN=http://localhost:3000
API_VERSION=v1 # optional, default: v1

DB_HOST=chat-app-mongo
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=chat-app

AMQP_HOST=chat-app-rabbitmq
AMQP_PORT=5672
AMQP_UI_PORT=15672

SESSION_SECRET=chat-app-session-secret # optional, default: session-secret

ACCESS_TOKEN_SECRET=chat-app-access-token-secret
REFRESH_TOKEN_SECRET=chat-app-refresh-token-secret
ACCESS_TOKEN_EXP_IN=900000 # optional, default: 900000 (15min) 

