# cexpress-utils ----------------------
NODE_ENV=dev
LOG_LEVEL=debug # optional, default: prod
ENCRYPTION_KEY=chat-app-encryption-secret
# -------------------------------------

SSL=false # optional, default: true, never set to true for local development. only for production and using SSL

PORT=2999
ALLOWED_ORIGINS=http://localhost:3000
API_VERSION=v1 # optional, default: v1

DB_HOST=mongo
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=chat-app

SESSION_SECRET=chat-app-session-secret # optional, default: session-secret

ACCESS_TOKEN_SECRET=chat-app-access-token-secret
REFRESH_TOKEN_SECRET=chat-app-refresh-token-secret
ACCESS_TOKEN_EXP_IN=900000 # optional, default: 900000 (15min) 

